{% extends 'my_account/account_base.html' %}
{% block account_content %}
  <div class="row dashboard-cards text-center g-4">

    <div class="col-md-4">
      <a href="{% url 'orders' %}"  style="text-decoration: none;">
        <div class="card p-4">
          <i class="bi bi-card-checklist display-4 mb-3"></i>
          <h5>Orders</h5>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a  href="{% url 'user_billing_address' %}"  style="text-decoration: none;">
        <div class="card p-4">
          <i class="bi bi-person-lines-fill display-4 mb-3"></i>
          <h5>Account Details</h5>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'downloads' %}"  style="text-decoration: none;">
        <div class="card p-4">
          <i class="bi bi-cloud-arrow-down display-4 mb-3"></i>
          <h5>Downloads</h5>
        </div>
      </a>
    </div>

  </div>
{% endblock %}

