{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section id="register" class="register section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-4 g-lg-5">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/illustration-1.webp' %}" alt="Hero Image" class="img-fluid" />
        </div>
        <div class="col-lg-6">
          <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
            <div class="container section-title" data-aos="fade-up">
              <h2>Password Reset Complete</h2>
              <p>Your password has been successfully reset. You can now log in with your new password.</p>
              <br />
              <a class="btn" style="color:white;background-color:rgb(111,66,193)" href="{% url 'signin' %}">Go to login <i class="bi bi-box-arrow-in-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
{% endblock %}
