{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
  <br /><br />
  <section id="register" class="register section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-4 g-lg-5">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 card otp-card mb-4">
          <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
            <div class="container section-title" data-aos="fade-up">
              <br /><br />
              <h2>Forgot password</h2>
              <p>Enter your email, and we’ll send you a password recovery link.</p>
            </div>
            <form method="post">
              {% csrf_token %}
              {% render_field form.email class='form-control' placeholder='Enter your email ID' %}
              <br />
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-sm" type="submit">Send Reset Link</button>
                <br />
                <br />
                <a href="{% url 'signin' %}" style="text-decoration: none;"><i class="bi bi-box-arrow-in-left"></i>&nbsp;Back to login</a>
				
			</div>
        <br/>
		</form>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
{% endblock %}
