{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
  <section id="register" class="register section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <br />
      <br />
      <div class="row g-4 g-lg-5">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 card otp-card mb-3">
          <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
            <br />
            <div class="container section-title" data-aos="fade-up">
              <h2>Change Password</h2>
              <p>Modify your password to keep your account secure and ensure only you have access to your information.</p>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                {% render_field form.new_password1 class='form-control' placeholder='Password' id='new_password1' type='password' %}
              </div>
              <div class="input-group mb-3">
                {% render_field form.new_password2 class='form-control' placeholder='Confirm Password' id='new_password2' type='password' %}
              </div>
              <br />
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-sm" type="submit">Change Password</button>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
{% endblock %}
