{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="register" class="register section">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row g-4 g-lg-5">
				<div class="col-lg-6">
					<img src="{% static "assets/img/illustration-1.webp" %}" alt="Hero Image" class="img-fluid">
				</div>
				<div class="col-lg-6">
				<div class="contact-form" data-aos="fade-up" data-aos-delay="300">
					<div class="container section-title" data-aos="fade-up">
						<h2>Password Reset Request Submitted</h2>
						<p>We've sent you an email with instructions to reset your password. Please check your inbox.</p>					  
					</div>
				</div>
				</div>
			</div>
		</div>
  	</section>
{% endblock %}







