{% extends 'admin_dashboard/base.html' %}
{% block content %}
  <div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="/">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">View order</li>
      </ol>
    </nav>
  </div>

  <div class="container my-4">
    <div>
      <h4>Order details</h4>
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="fw-bold mb-3">Product</h5>
          {% for product in order.backlink_cart.all %}
            <div class="border-bottom pb-3 mb-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="text-orange fw-semibold">
                  {{ product.package_name.title }} <span class="text-muted"></span>
                </div>
                <div class="fw-bold text-end">$ {{ product.package_name.price }}</div>
              </div>
              <div class="mt-2 ps-2 border-start">
                <p class="mb-1">
                  <strong>website url:</strong> <span class="text-orange">{{ product.website_url }}</span>
                </p>
                {% if product.keyword_1 %}
                  <div class="small">
                    <span>1st Keyword:</span> <span>{{ product.keyword_1 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_2 %}
                  <div class="small">
                    <span>2nd Keyword:</span> <span>{{ product.keyword_2 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_3 %}
                  <div class="small">
                    <span>3rd Keyword:</span> <span>{{ product.keyword_3 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_4 %}
                  <div class="small">
                    <span>4th Keyword:</span> <span>{{ product.keyword_4 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_5 %}
                  <div class="small">
                    <span>5th Keyword:</span> <span>{{ product.keyword_5 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_6 %}
                  <div class="small">
                    <span>6th Keyword:</span> <span>{{ product.keyword_6 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_7 %}
                  <div class="small">
                    <span>7th Keyword:</span> <span>{{ product.keyword_7 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_8 %}
                  <div class="small">
                    <span>8th Keyword:</span> <span>{{ product.keyword_8 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_9 %}
                  <div class="small">
                    <span>9th Keyword:</span> <span>{{ product.keyword_9 }}</span>
                  </div>
                {% endif %}
                {% if product.keyword_10 %}
                  <div class="small">
                    <span>10th Keyword:</span> <span>{{ product.keyword_10 }}</span>
                  </div>
                {% endif %}
                {% if product.image_url %}
                  <p class="mb-1">
                    <strong>Image url:</strong> <span class="text-orange">{{ product.image_url }}</span>
                  </p>
                {% endif %}
                {% if product.youtube_url %}
                  <p class="mb-1">
                    <strong>Youtube url:</strong> <span class="text-orange">{{ product.youtube_url }}</span>
                  </p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
