{% extends 'admin_dashboard/base.html' %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="/">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Orders List</li>
        </ol>
      </nav>
      <h2 class="h4">Orders List</h2>
    </div>
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table id="myTable" class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>No.</th>
          <th>Order ID</th>
          <th>Package</th>
          <th>Work Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <span class="text-truncate d-inline-block" style="max-width: 150px;">{{ order.order_id }}</span>
            </td>
            <td>
              {% for item in order.backlink_cart.all %}
                🔗 {{ item.package_name }}<br />
              {% empty %}
                <small>No items</small>
              {% endfor %}
            </td>
            <td>
              {% if order.work_status == 'Completed' %}
              <span style="color: white; background-color: green; padding: 2px 6px; border-radius: 4px;">{{ order.work_status }}</span>
              {% elif order.work_status == 'onprogress' %}
                <span style="color: white; background-color: red; padding: 2px 6px; border-radius: 4px;">{{ order.work_status }}</span>
              {% else %}
              {% endif %}
            </td>
            <td>
              <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="View Order" href="{% url 'admin_view_order' order.id %}"><i class="bi bi-eye"></i></a>&nbsp;
              {% if order.work_status == 'Completed' %}
              {% else %}
              <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Upload report" href="{% url 'upload_report' order.id %}"><i class="bi bi-upload"></i></a>&nbsp;
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
