{% load static %}
<ul class="nav flex-column pt-3 pt-md-0">
  <li class="nav-item">
    <a href="#" class="nav-link d-flex align-items-center">
      <span class="sidebar-icon"><img src="{% static 'dashboard/assets/img/icons8-admin-50.png' %}" height="30" width="30" alt="Volt Logo" /></span>
      <span class="mt-1 ms-1 sidebar-text">Digitalking Admin</span>
    </a>
  </li>
<hr>
  <li class="nav-item">
    <a href="{% url "dashboard" %}" class="nav-link">
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
          <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
        </svg>
      </span>
      <span class="sidebar-text">Dashboard</span>
    </a>
  </li>
  

  <li class="nav-item">
    <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-app">
      <span>
        <span class="sidebar-icon">
          <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 4h16v2H4zm0 4h10v2H4zm0 4h16v2H4zm0 4h10v2H4z" />
          </svg>
        </span><span class="sidebar-text">Order's</span>
      </span><span class="link-arrow">
        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </span>
    <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false">
      <ul class="flex-column nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url "order_dashboard" %}"><span class="sidebar-text-contracted">D</span> <span class="sidebar-text">Orders Dashboard</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "orders_list" %}"><span class="sidebar-text-contracted">D</span> <span class="sidebar-text">Orders List</span></a>
        </li>
      </ul>
    </div>
  </li>

  <li class="nav-item">
    <a href="{% url "customer_query" %}" class="nav-link">
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path>
          <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd"></path>
        </svg>
      </span>
      <span class="sidebar-text">Customer Query</span>
      {% if new_review_count %}
        <span><span class="badge badge-sm bg-secondary ms-1 text-gray-800">{{ new_review_count }}</span></span>
      {% endif %}
    </a>
  </li>



  <li class="nav-item">
    <a href="#" class="nav-link">
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 2a1 1 0 0 0-1 1v1H5a2 2 0 0 0-2 
           2v14a2 2 0 0 0 2 2h14a2 2 0 0 
           0 2-2V6a2 2 0 0 0-2-2h-3V3a1 
           1 0 0 0-1-1H9Zm1 3h4v1a1 1 0 1 0 
           2 0V5h3v14H5V5h3v1a1 1 0 1 0 
           2 0V5Zm-2 6h8v2H8v-2Zm0 4h5v2H8v-2Z" />
        </svg>
      </span>
      <span class="sidebar-text">Invoics</span>
      {% if new_survey_count %}
        <span><span class="badge badge-sm bg-secondary ms-1 text-gray-800">{{ new_survey_count }}</span></span>
      {% endif %}
    </a>
  </li>

   <li class="nav-item">
    <a href="{% url "billing_address" %}" class="nav-link">
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path>
          <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd"></path>
        </svg>
      </span>
      <span class="sidebar-text">Billing Address's</span>
      {% if new_review_count %}
        <span><span class="badge badge-sm bg-secondary ms-1 text-gray-800">{{ new_review_count }}</span></span>
      {% endif %}
    </a>
  </li>

  <li class="nav-item">
    <a href="{% url "contact_list" %}" class="nav-link">
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
        </svg>
      </span>
      <span class="sidebar-text">Contect Details</span>
      {% if new_contact_count %}
        <span><span class="badge badge-sm bg-secondary ms-1 text-gray-800">{{ new_contact_count }}</span></span>
      {% endif %}
    </a>
  </li>

  <li class="nav-item">
    <a href="{% url "users_list" %}" class="nav-link">
      <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm0 12c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4Z" />
        </svg>
      </span>
      <span class="sidebar-text">Users</span>
      {% if new_users_count %}
        <span><span class="badge badge-sm bg-secondary ms-1 text-gray-800">{{ new_users_count }}</span></span>
      {% endif %}
    </a>
  </li>

  <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
  <li class="nav-item">
    <a href="{% url 'signout' %}" class="nav-link d-flex align-items-center">
      <i class="bi bi-box-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="sidebar-text">Logout</span>
    </a>
  </li>
</ul>

