<footer class="footer pt-5 pb-5">
  <div class="container">
    <div class="row credits pt-3">
      <div class="col-xl-8 text-center text-xl-start mb-3 mb-xl-0">
        &copy;<script>
                document.write(new Date().getFullYear())
              </script>&nbsp;Digitalkingonline. All rights reserved. 
      </div>
      <div class="col-xl-4 justify-content-start justify-content-xl-end quick-links d-flex flex-column flex-xl-row text-center text-xl-start gap-1">
        Designed by <a href="#">DLK Software solutions</a>
      </div>
    </div>
  </div>
</footer>
