{% load static %}
<style>
  .responsive-logo {
    width: 130px; /* default for mobile */
    height: auto;
  }
  
  @media (min-width: 768px) {
    .responsive-logo {
      width: 180px; /* for tablets and desktops */
    }
  }
</style>
<header class="fbs__net-navbar navbar navbar-expand-lg dark" aria-label="freebootstrap.net navbar">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand w-auto" href="/">
      <img class="logo dark img-fluid responsive-logo" src="{% static 'digital_king.png' %}" alt="" />
      <img class="logo light img-fluid responsive-logo" src="{% static 'digital_king.png' %} " alt="" />
    </a>
    <div class="offcanvas offcanvas-start w-75" id="fbs__net-navbars" tabindex="-1" aria-labelledby="fbs__net-navbarsLabel">
      <div class="offcanvas-header">
        <div class="offcanvas-header-logo">
          <a class="logo-link" id="fbs__net-navbarsLabel" href="#">
            <img class="logo dark img-fluid" src="{% static 'digital_king.png' %}" alt="FreeBootstrap.net image placeholder" />
            <img class="logo light img-fluid" src="{% static 'digital_king.png' %}" alt="FreeBootstrap.net image placeholder" />
          </a>
        </div>
        <button class="btn-close btn-close-black" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body align-items-lg-center">
        <ul class="navbar-nav nav me-auto ps-lg-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link scroll-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" href="/#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" href="/#how-it-works">How It Works</a>
          </li>

          <li class="nav-item">
            <a class="nav-link scroll-link" href="{% url 'contact_us' %}">Contact</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link scroll-link" href="{% url 'signout' %}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="ms-auto w-auto">
      <div class="header-social d-flex align-items-center gap-1">
        {% if request.user.is_authenticated %}
          <a class="btn btn-primary py-1 d-none d-sm-inline" href="{% url 'my_account' %}">My Account</a>
          <a class="btn btn-primary py-1 d-inline d-sm-none" href="{% url 'my_account' %}"><i class="bi bi-person-circle fs-5"></i></a>
        {% else %}
          <a class="btn btn-primary py-1 d-none d-sm-inline" href="{% url 'signin' %}">My Account</a>
          <a class="btn btn-primary py-1 d-inline d-sm-none" href="{% url 'signin' %}"><i class="bi bi-person-circle fs-5"></i></a>
        {% endif %}

        {% if request.user.is_authenticated %}
          <a class="btn btn-primary position-relative py-1" href="{% url 'my_cart' %}">
            <i class="bi bi-cart3 fs-5"></i>
            {% if cart_count > 0 %}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ cart_count }}
                <span class="visually-hidden">items in cart</span>
              </span>
            {% endif %}
          </a>
        {% else %}
          <a class="btn btn-primary py-1" href="{% url 'signin' %}"><i class="bi bi-cart3"></i></a>
        {% endif %}
        <button class="fbs__net-navbar-toggler justify-content-center align-items-center ms-auto" data-bs-toggle="offcanvas" data-bs-target="#fbs__net-navbars" aria-controls="fbs__net-navbars" aria-label="Toggle navigation" aria-expanded="false">
          <svg class="fbs__net-icon-menu" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="21" x2="3" y1="6" y2="6"></line>
            <line x1="15" x2="3" y1="12" y2="12"></line>
            <line x1="17" x2="3" y1="18" y2="18"></line>
          </svg>
          <svg class="fbs__net-icon-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
